/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&family=Roboto:wght@700&display=swap");
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */ /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: black;
}

.none {
  display: none;
}

.container {
  margin: 0 auto;
  max-width: 1270px;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.btn {
  cursor: pointer;
  padding: 18px 46px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 39px;
  color: #fff;
  transition: 0.2s ease-in-out;
}

.btn_lite {
  background-color: transparent;
  color: #fff;
  border: 1px solid #FFFFFF;
}

.btn_lite:hover {
  background-color: #fff;
  color: #112D57;
}

.btn_aqua {
  background-color: #03D6F3;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border: 1px solid #03D6F3;
}

.btn_aqua:hover {
  background-color: #fff;
  color: #30D7BA;
  border: 1px solid #30D7BA;
}

#btn_mobile {
  display: none;
}
@media (max-width: 900px) {
  #btn_mobile {
    display: block;
    width: 35px;
    height: 27px;
    position: relative;
    margin: 0;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  #btn_mobile span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  #btn_mobile span:nth-child(1) {
    top: 0px;
  }
  #btn_mobile span:nth-child(2),
#btn_mobile span:nth-child(3) {
    top: 10px;
  }
  #btn_mobile span:nth-child(4) {
    top: 20px;
  }
}

#btn_mobile.open {
  display: none;
}
@media (max-width: 900px) {
  #btn_mobile.open {
    display: block;
  }
  #btn_mobile.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  #btn_mobile.open span:nth-child(2) {
    transform: rotate(45deg);
  }
  #btn_mobile.open span:nth-child(3) {
    transform: rotate(-45deg);
  }
  #btn_mobile.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
}

header {
  background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
  color: #fff;
}

.container_header {
  padding: 33px 40px 85px;
  margin-bottom: 11px;
}
@media (max-width: 900px) {
  .container_header {
    padding: 28px 24px 50px;
  }
}

.header__nav {
  padding-bottom: 104px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 40px;
}
@media (max-width: 900px) {
  .header__nav {
    padding-bottom: 56px;
  }
}
@media (max-width: 900px) {
  .header__nav .btn {
    padding: 11px 25px;
    font-size: 13px;
  }
}

.nav__list {
  display: flex;
  -moz-column-gap: 51px;
       column-gap: 51px;
  font-weight: 400;
  font-size: 15px;
}
@media (max-width: 900px) {
  .nav__list {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}

.header__content {
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 900px) {
  .header__content {
    padding-top: 0;
  }
}

.header__heading {
  max-width: 651px;
  margin-bottom: 71px;
  text-align: center;
}
@media (max-width: 900px) {
  .header__heading {
    margin-bottom: 55px;
  }
}

.header__title {
  margin-bottom: 27px;
  font-weight: 900;
  font-size: 55px;
}
@media (max-width: 900px) {
  .header__title {
    margin-bottom: 17px;
    font-weight: 500;
    font-size: 46px;
  }
}

.header__subtitle {
  font-weight: 700;
  font-size: 16px;
}

.header__buttons {
  margin-bottom: 101px;
  display: flex;
  gap: 13px;
}
@media (max-width: 900px) {
  .header__buttons {
    flex-direction: column;
    margin-bottom: 95px;
  }
}
@media (max-width: 900px) {
  .header__buttons .btn {
    padding: 18px 80px;
  }
}

.header__img img {
  display: block;
  filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
  border-radius: 5px;
}
@media (max-width: 900px) {
  .header__img img {
    width: 364px;
  }
}

.container_about {
  padding: 111px 40px 139px;
}
@media (max-width: 900px) {
  .container_about {
    padding: 97px 50px 60px;
  }
}

.about__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__title {
  margin-bottom: 105px;
  max-width: 771px;
  text-align: center;
  font-weight: 500;
  font-size: 46px;
}
@media (max-width: 900px) {
  .about__title {
    margin-bottom: 35px;
  }
}

.about__cards-list {
  display: flex;
  gap: 31px;
}
@media (max-width: 900px) {
  .about__cards-list {
    flex-direction: column;
    gap: 64px;
  }
}

.about__card {
  display: flex;
  flex-direction: column;
  padding: 60px 40px 50px;
  background: #fff;
  border: 1px solid #DEDEDE;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
@media (max-width: 900px) {
  .about__card {
    align-items: center;
    text-align: center;
  }
}

.card__svg {
  margin-bottom: 30px;
  width: 62px;
  height: 62.62px;
  fill: #03D6F3;
}
@media (max-width: 900px) {
  .card__svg {
    margin-bottom: 20px;
  }
}

.card__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
}
@media (max-width: 900px) {
  .card__title {
    margin-bottom: 20px;
  }
}

.card__text {
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 284px;
  font-weight: 400;
  font-size: 18px;
  color: #5C5C5C;
}

.card__link {
  font-weight: 400;
  font-size: 15px;
  color: #03D6F3;
}

.about__card:hover {
  background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
}
.about__card:hover .card__title,
.about__card:hover .card__text,
.about__card:hover .card__link {
  color: #fff;
}
.about__card:hover .card__svg {
  fill: #fff;
}

.container_process {
  padding: 110px 40px;
}
@media (max-width: 900px) {
  .container_process {
    padding: 58px 60px 95px;
  }
}

.process__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
@media (max-width: 900px) {
  .process__row {
    flex-direction: column;
  }
}

.process__title {
  margin-bottom: 46px;
  font-weight: 500;
  font-size: 46px;
}
@media (max-width: 900px) {
  .process__title {
    margin-bottom: 27px;
  }
}

.process__text {
  margin-bottom: 36px;
  max-width: 483px;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #5C5C5C;
}
@media (max-width: 900px) {
  .process__text {
    margin-bottom: 88px;
  }
}

.process__buttons {
  display: flex;
  gap: 22px;
}
@media (max-width: 900px) {
  .process__buttons {
    flex-direction: column;
  }
}

.process__img img {
  filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
  border-radius: 5px;
}
@media (max-width: 900px) {
  .process__img img {
    width: 400px;
  }
}

.container_solution {
  padding: 114px 40px;
}
@media (max-width: 900px) {
  .container_solution {
    padding: 62px 60px 109px;
  }
}

.solution__row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 67px;
}
@media (max-width: 900px) {
  .solution__row {
    flex-direction: column;
    text-align: center;
  }
}

.solution__title {
  margin-bottom: 37px;
  max-width: 426px;
  font-weight: 500;
  font-size: 46px;
  line-height: 124%;
}
@media (max-width: 900px) {
  .solution__title {
    margin-bottom: 17px;
  }
}

.solution__text {
  margin-bottom: 37px;
  max-width: 303px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #5C5C5C;
}
@media (max-width: 900px) {
  .solution__text {
    margin-bottom: 59px;
  }
}

.solution__buttons {
  display: flex;
  gap: 7px;
}
@media (max-width: 900px) {
  .solution__buttons {
    flex-direction: column;
  }
}

.solution__img img {
  width: 762px;
  filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
  border-radius: 5px;
}
@media (max-width: 900px) {
  .solution__img img {
    width: 450px;
  }
}

.container_operations {
  padding: 110px 40px 161px;
}
@media (max-width: 900px) {
  .container_operations {
    padding: 48px 60px 95px;
  }
}

.operations__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
@media (max-width: 900px) {
  .operations__row {
    flex-direction: column-reverse;
  }
}

@media (max-width: 900px) {
  .operations__content {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.operations__title {
  margin-bottom: 46px;
  font-weight: 500;
  font-size: 46px;
}
@media (max-width: 900px) {
  .operations__title {
    margin-bottom: 27px;
  }
}

.operations__text {
  margin-bottom: 36px;
  max-width: 483px;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #5C5C5C;
}
@media (max-width: 900px) {
  .operations__text {
    margin-bottom: 88px;
  }
}

.operations__img img {
  width: 516px;
  filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
  border-radius: 5px;
}
@media (max-width: 900px) {
  .operations__img img {
    width: 400px;
  }
}

.container_offer {
  padding: 50px 40px 134px;
  text-align: center;
}
@media (max-width: 900px) {
  .container_offer {
    padding: 50px 60px 103px;
  }
}

.offer__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer__title {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 46px;
  line-height: 57px;
}
@media (max-width: 900px) {
  .offer__title {
    margin-bottom: 22px;
  }
}

.offer__subtitle {
  display: block;
  margin-bottom: 63px;
  font-size: 18px;
  line-height: 27px;
  color: #5C5C5C;
}

.offer__items-list {
  display: flex;
  justify-content: space-between;
  gap: 33px;
}
@media (max-width: 900px) {
  .offer__items-list {
    flex-direction: column;
  }
}

.offer__item {
  padding: 40px;
  width: 255px;
  height: auto;
  border: 1px solid #DEDEDE;
  border-radius: 10px;
}

.item__title {
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 33px;
}

.item__subtitle {
  display: block;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 18px;
  color: #5C5C5C;
}

.item__pic {
  margin-bottom: 30px;
}

.item__price {
  margin-bottom: 40px;
  position: relative;
}

.item__price_number {
  padding-right: 10px;
  font-weight: 900;
  font-size: 55px;
  color: #30D7BA;
}

.item__price_symbol {
  position: absolute;
  top: 5px;
  font-weight: 700;
  font-size: 30px;
  color: #30D7BA;
}

.item__price_text {
  position: absolute;
  top: 53px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #5C5C5C;
}

.item__desc {
  margin-bottom: 40px;
}
.item__desc li {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 27px;
}

.item__desc_excluded {
  color: #5C5C5C;
}

.offer__item .btn {
  padding: 18px 82px;
}

.container_subscribe {
  position: relative;
  padding: 113px 40px;
  border-top: 1px solid #CDCDCD;
}
@media (max-width: 900px) {
  .container_subscribe {
    padding: 62px 20px 109px;
  }
}

.subscribe__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe__title {
  margin-bottom: 27px;
  font-weight: 500;
  font-size: 46px;
  text-transform: uppercase;
}
@media (max-width: 900px) {
  .subscribe__title {
    margin-bottom: 17px;
  }
}

.subscribe__subtitle {
  margin-bottom: 69px;
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: #5C5C5C;
}
@media (max-width: 900px) {
  .subscribe__subtitle {
    margin-bottom: 59px;
  }
}

.subscribe__form_input {
  padding: 14px 28px;
  width: 228px;
  text-align: left;
  background: #EFEFEF;
  border: 1px solid #D0D0D0;
  border-radius: 6px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #5C5C5C;
}
@media (max-width: 900px) {
  .subscribe__form_input {
    padding: 16px 80px;
    text-align: center;
  }
}

.subscribe__form_input:focus {
  outline: none;
}

.subscribe__form {
  display: flex;
  align-items: center;
  gap: 10px;
}
.subscribe__form .btn {
  text-transform: uppercase;
  box-shadow: none;
}
@media (max-width: 900px) {
  .subscribe__form .btn {
    padding: 16px 153px;
    text-align: center;
    border-radius: 6px;
    text-transform: none;
  }
}
@media (max-width: 900px) {
  .subscribe__form {
    flex-direction: column;
    gap: 12px;
  }
}

footer {
  background: #112D57;
  color: #fff;
}

.container_footer {
  padding: 62px 40px;
}
@media (max-width: 900px) {
  .container_footer {
    padding: 60px;
  }
}

.footer__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 87px;
  font-weight: 400;
  font-size: 15px;
}
@media (max-width: 900px) {
  .footer__nav {
    flex-direction: column;
  }
}

.footer__nav_list {
  margin-bottom: 66px;
  text-align: left;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 80px;
}
.footer__nav_list li:not(:nth-child(3n)) {
  margin-bottom: 20px;
}
@media (max-width: 900px) {
  .footer__nav_list {
    margin-bottom: 56px;
    grid-column-gap: 75px;
    text-align: center;
  }
}

.footer__nav_copyright {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
}

@media (max-width: 900px) {
  .fooer__nav_left {
    margin-bottom: 87px;
  }
}

.footer__nav_map {
  border-radius: 22px;
  overflow: hidden;
}
@media (max-width: 900px) {
  .footer__nav_map {
    margin-bottom: 87px;
  }
}

.footer__nav_adress,
.footer__nav_tel {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 18px;
}

.footer__nav_tel {
  margin-bottom: 40px;
}

.footer__nav_socials a:not(:last-child) {
  margin-right: 27px;
}