$roboto: 'Roboto', sans-serif;
$aqua: #03D6F3;
$gradient: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
$secondaryColor: #5C5C5C;

// Mobile Nav Button 

$color: #ecf0f1;

$height-icon: 50px;
$width-line: 100px;
$height-line: 8px;

$transition-time: 0.4s;
$rotation: 45deg;
$translateY: ($height-icon / 2);
$translateX: 0;